
body { 
  background-color: white; 
  color: black; 
 
}


header {
  background-color: red; 
  color: white;
  
}

.bttom {

   background-color: white; color: green;
}

.dark-section {
  background-color: black;
  color: white;
  
  text-align: center;
}


.image-bg {
  background-image: url('WhatsApp Image 2025-08-27 at 11.33.10 PM.jpeg'); /* حطي مكانها صورتك */
  background-size: cover;
  background-position: center;
  color: white;

}
.copyright{
    color:blue;
} 
